<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  
  <title>Contact form</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>

  <main>
    <h1>Contact Us</h1>
    <form action="">

      <div id="nome">
        <div>
          <label for="fNome">First Name</label>
          <input type="text" name="fNome" id="fNome" required>
        </div>
        <!-- This field is required -->
        
        <div>
          <label for="lNome">Last Name</label>
          <input type="text" name="lNome" id="lNome" required>
        </div>
        <!-- This field is required -->
      </div>

      <label for="Email">Email Address</label>
      <input type="email" name="Email" id="Email">
      <!-- Please enter a valid email address
      This field is required -->
      
      <label>Query Type</label>
      <div id="escolha">
        <div class="escolha">
          <input type="radio" name="queryType" value="General">
          General Enquiry
        </div>
        <div class="escolha">
          <input type="radio" name="queryType" value="Support">
          Support Request
        </div>
      </div>
      <!-- Please select a query type -->   

      <label for="texto">Message</label>
      <textarea name="texto" id="texto" cols="10" rows="4"></textarea>
      <!-- This field is required -->

      <label for="">
        <input type="checkbox">
        I consent to being contacted by the team
      </label>
      <!-- To submit this form, please consent to being contacted -->

      <button>Submit</button>

    </form>
  </main>

  <!-- Message Sent!
  Thanks for completing the form. We'll be in touch soon! -->
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/LuisEduardoDev1">@LuisEduardoDev1</a>.
  </div>
</body>
</html>