<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon-32x32.png">
  
  <title>Contact form</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>

  <main>
    <h1>Contact Us</h1>
    <form action="" id="myForm">

      <div id="nome">
        <div class="nomeEult">          
          <div>
            <label for="fNome">First Name</label>
            <input type="text" name="fNome" id="fNome" class="campos">
          </div>
          <div class="error" id="pNome"></div>
        </div>
        
        <div class="nomeEult">          
          <div>
            <label for="lNome">Last Name</label>
            <input type="text" name="lNome" id="lNome" class="campos">
          </div>
          <div class="error" id="uNome"></div>
        </div>
      </div>
      
      <div id="divEmail">
        <label for="Email">Email Address</label>
        <input type="email" name="Email" id="Email" class="campos">
        <div class="error" id="emailError"></div>
      </div>
      
      <label id="query">Query Type
        <div id="escolha">
          <label class="escolha"> 
            <input type="radio" name="queryType" id="General">
            General Enquiry
          </label>
          <label class="escolha"> 
            <input type="radio" name="queryType" id="Support">
            Support Request
          </label>
        </div>
        <div id="escolhaERROR" class="error"></div>
      </label>
      <label for="texto">Message</label>
      <textarea name="texto" id="texto" rows="4"></textarea>
      <div id="textoError" class="error"></div>

      <label for="check">
        <input type="checkbox" id="check">
        I consent to being contacted by the team
      </label>
      <div id="checkError" class="error"></div>
      <!-- To submit this form, please consent to being contacted -->

      <button type="submit">Submit</button>

    </form>
  </main>

  <!-- Message Sent!
  Thanks for completing the form. We'll be in touch soon! -->
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>. <br>
    Coded by <a href="https://github.com/LuisEduardoDev1">@LuisEduardoDev1</a>.
  </div>

  <script src="script.js"></script>
</body>
</html>