*{
    font-family: 'Karla', sans-serif;
}

body{
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    background-color: hsl(148, 38%, 91%);
}

body, form, #nome div{
    display: flex;
    flex-direction: column;
}

main{
    margin-top: 50px;
    padding: 0px 30px 30px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(168, 168, 168);
}

label{
    font-size: 16px;
}

input{
    margin-top: 5px;
    border: solid 1px hsl(186, 15%, 59%);
    border-radius: 7px;
}
input:hover{
    cursor: pointer;
}

.campos{
    height: 30px;
}

button{
    padding: 15px;
    background-color: hsl(169, 82%, 27%);
    color: white;
    border: 0px;
    border-radius: 7px;
    margin-top: 15px;
}
button:hover{
    cursor: pointer;
}

#nome{
    width: 100%;
    display: flex;
    gap: 10px;
}

#nome div{
    width: 100%;
}

#escolha{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 0px;
}
.escolha{
    border: solid 1px hsl(186, 15%, 59%);
    border-radius: 7px;
    width: 50%;
    margin-top: 5px;
}
.escolha input{
    margin: 10px 0px 10px 15px;
}
.escolha:hover{
    cursor: pointer;
}
#query{
    margin-bottom: 15px;
}

textarea{
    margin-top: 5px;
    resize: none;
    /* margin-bottom: 15px; */
    border-radius: 7px;
    border: solid 1px hsl(186, 15%, 59%);
}

#check{
    margin-top: 15px;
}

.nomeEult{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.nomeEult input{
    margin-bottom: 0px;
}

.error{
    color: hsl(0, 66%, 54%);
    font-size: 12px;
}

#divEmail{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
#divEmail input{
    margin-bottom: 0px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}


@media(max-width: 700px){
    body{
        width: 85%;
    }
}
@media(max-width: 450px){
    body{
        width: 90%;
    }

    #nome{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    #escolha{
        display: flex;
        flex-direction: column;
        margin: 0px 0px;
        width: 100%;
        gap: 5px;
    }
    .escolha{
        width: 100%;
    }

    textarea{
        height: 120px;
    }
}